html body{
  margin: 0 ;
  padding: 0;
  height: 100%;
  background:url("body_Background.png");
  background-size: cover;
  
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;


  border:10px solid rgb(255, 0, 0);
}

.hero-video  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* disables clicking on video */
  /* border:10px solid rebeccapurple; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.377);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
 
}

.cta-button{
  background-color:pink;
  width:10%;
  border: 1px solid white;
  border-radius: 15px;
  margin:0 auto;
}


.hero video{
  margin:0;
  width:100%;
  height: 100%;
  border: 10px solid white;
}